@using Microsoft.AspNetCore.Mvc.Rendering
@using System.Security.Claims



@{
	//ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div class="sidebar-contents">
			<div id="sidebar-menu" class="sidebar-menu">
				<div class="mobile-show">
					<div class="offcanvas-menu">
						<div class="user-info align-center bg-theme text-center">
							<span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
							<a href="javascript:void(0)" class="d-block menu-style text-white">
								<div class="user-avatar d-inline-block mr-3">
									<img src="~/assets/img/profiles/@User.FindFirst(ClaimTypes.Uri).Value" alt="user avatar" class="rounded-circle" width="50">
								</div>
							</a>
						</div>
					</div>
					<div class="sidebar-input">
						<div class="top-nav-search">
							<form>
								<input type="text" class="form-control" placeholder="Search here">
								<button class="btn" type="submit"><i class="fas fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
				<ul>
					<li>
						<a asp-action="Index"><img src="~/assets/img/home.svg" alt="sidebar_img"> <span>Dashboard</span></a>
					</li>
					<li>
						<a asp-action="Employees"><img src="~/assets/img/employee.svg" alt="sidebar_img"><span> Employees</span></a>
					</li>
					<li>
						<a href="/company"><img src="~/assets/img/company.svg" alt="sidebar_img"> <span> Company</span></a>
					</li>
					<li>
						<a asp-action="Calendar"><img src="~/assets/img/calendar.svg" alt="sidebar_img"> <span>Calendar</span></a>
					</li>
					<li>
						<a asp-action="Leave"><img src="~/assets/img/leave.svg" alt="sidebar_img"> <span>Leave</span></a>
					</li>
					@if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 4)
					{
						<li>
							<a href="/review"><img src="~/assets/img/review.svg" alt="sidebar_img"><span>Review</span></a>
						</li>
					}

					<li class="active">
						<a asp-action="Report"><img src="~/assets/img/report.svg" alt="sidebar_img"><span>Report</span></a>
					</li>
					<li>
						<a asp-action="Manage"><img src="~/assets/img/manage.svg" alt="sidebar_img"> <span>Manage</span></a>
					</li>
					<li>
						<a asp-action="Settings"><img src="~/assets/img/settings.svg" alt="sidebar_img"><span>Settings</span></a>
					</li>
					@if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 4)
					{
						<li>
							<a href="/profile"><img src="~/assets/img/profile.svg" alt="sidebar_img"> <span>Profile</span></a>
						</li>
					}
					@if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) >= 4)
					{
						<li>
							<a href="/profile-setting"><img src="~/assets/img/profile.svg" alt="sidebar_img"> <span>Profile</span></a>
						</li>
					}
				</ul>
				<ul class="logout">
					<li>
						<a asp-action="Profile"><img src="~/assets/img/logout.svg" alt="sidebar_img"><span>Log out</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="row">
			<div class="col-xl-12 col-sm-12 col-12 ">
				<div class="breadcrumb-path mb-4">
					<ul class="breadcrumb">
						<li class="breadcrumb-item">
							<a asp-action="Index"><img src="~/assets/img/dash.png" class="mr-2" alt="breadcrumb">Home</a>
						</li>
						<li class="breadcrumb-item active"> Reports</li>
					</ul>
					<h3>Reports	</h3>
				</div>
			</div>
			<div class="col-xl-12 col-sm-12 col-12 mb-4">
				<div class="head-link-set">
					<ul>
						<li><a asp-action="Report">Team Reports</a></li>
						<li><a asp-action="LeaveReport">Leave Reports</a></li>
						<li><a asp-action="PayrollReport">Payroll Reports</a></li>
						<li><a class="active" href="#">Contact Reports</a></li>
						<li><a asp-action="EmailReport">Email Reports</a></li>
						<li><a asp-action="SecurityReport">Security Reports</a></li>
						<li><a asp-action="WfhReport">W F H Reports</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xl-12 col-sm-12 col-12 mb-4">
				<div class="form-set">
					<div class="row">
						<div class="col-xl-3 col-sm-6 col-12 ">
							<div class="form-group">
								<input type="text" placeholder="start Date">
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="form-group">
								<input type="text" placeholder="From">
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12 ">
							<div class="form-group">
								<input type="text" placeholder="To">
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12 ">
							<a class="btn btn-save">Apply Filter</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-12 col-sm-12 col-12 ">
				<div class="card">
					<div class="table-responsive">
						<table class="table  custom-table no-footer">
							<thead>
								<tr>
									<th>Team Member	</th>
									<th>Email</th>
									<th>Phone Number</th>
									<th>Secondary Phone Number</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="table-img">
											<img src="~/assets/img/profiles/avatar-15.jpg" alt="profile" class="img-table"><label>Danny Ward</label>
										</div>
									</td>
									<td><label><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="365257584f4157445276534e575b465a531855595b">[email&#160;protected]</a> </label></td>
									<td><label>9876543215</label></td>
									<td><label>9876543512</label></td>
								</tr>
								<tr>
									<td>
										<div class="table-img">
											<img src="~/assets/img/profiles/avatar-16.jpg" alt="profile" class="img-table"><label>Linda Craver</label>
										</div>
									</td>
									<td><label><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="0e6267606a6f6d7c6f786b7c4e6b766f637e626b206d6163">[email&#160;protected]</a></label></td>
									<td><label>7896543213</label></td>
									<td><label>7896543321</label></td>
								</tr>
								<tr>
									<td>
										<div class="table-img">
											<img src="~/assets/img/profiles/avatar-17.jpg" alt="profile" class="img-table"><label>Jenni Sims</label>
										</div>
									</td>
									<td><label><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="29434c4747405a40445a694c51484459454c074a4644">[email&#160;protected]</a></label></td>
									<td><label>8976453211</label></td>
									<td><label>8976453299</label></td>
								</tr>
								<tr>
									<td>
										<div class="table-img">
											<img src="~/assets/img/profiles/avatar-14.jpg" alt="profile" class="img-table"><label>Maria Cottons	</label>
										</div>
									</td>
									<td><label><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="711c10031810121e05051e1f311409101c011d145f121e1c">[email&#160;protected]</a></label></td>
									<td><label>7689234519</label></td>
									<td><label>7689235419</label></td>
								</tr>
								<tr>
									<td>
										<div class="table-img">
											<img src="~/assets/img/profiles/avatar-18.jpg" alt="profile" class="img-table"><label>John Gibbs	</label>
										</div>
									</td>
									<td><label><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="89e3e6e1e7edfbf0faede8e5ecc9ecf1e8e4f9e5eca7eae6e4">[email&#160;protected]</a></label></td>
									<td><label>7836271912</label></td>
									<td><label>7836271192</label></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="btn-set">
						<a class="btn btn-dwnd mt-3 mb-3">Download Report</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>