@using Microsoft.AspNetCore.Mvc.Rendering


@{
	//ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_LayoutBegin.cshtml";
}
<h1>Forgot Password?</h1>
<p class="account-subtitle">Enter your email to get a password reset link</p>

<form action="Login">
	<div class="form-group">
		<label class="form-control-label">Email Address</label>
		<input class="form-control" type="text">
	</div>
	<div class="form-group mb-0">
		<button class="btn btn-lg btn-block btn-primary" type="submit">Reset Password</button>
	</div>
</form>

<div class="text-center dont-have">Remember your password? <a href="login">Login</a></div>