@using Microsoft.AspNetCore.Mvc.Rendering
@using System.Security.Claims



@{
	//ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div class="sidebar-contents">
			<div id="sidebar-menu" class="sidebar-menu">
				<div class="mobile-show">
					<div class="offcanvas-menu">
						<div class="user-info align-center bg-theme text-center">
							<span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
							<a href="javascript:void(0)" class="d-block menu-style text-white">
								<div class="user-avatar d-inline-block mr-3">
									<img src="~/assets/img/profiles/@User.FindFirst(ClaimTypes.Uri).Value" alt="user avatar" class="rounded-circle" width="50">
								</div>
							</a>
						</div>
					</div>
					<div class="sidebar-input">
						<div class="top-nav-search">
							<form>
								<input type="text" class="form-control" placeholder="Search here">
								<button class="btn" type="submit"><i class="fas fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
				<ul>
					<li class="active">
						<a href="/dashboard"><img src="~/assets/img/home.svg" alt="sidebar_img"> <span>Dashboard</span></a>
					</li>
					<li>
						<a href="/employees"><img src="~/assets/img/employee.svg" alt="sidebar_img"><span> Employees</span></a>
					</li>
					@if (User.Identity.IsAuthenticated)
					{
						string username = User.Identity.Name;
						string macv = User.FindFirst(ClaimTypes.Role)?.Value;
						if (macv != "6")
						{
							<li>
								<a href="/company"><img src="~/assets/img/company.svg" alt="sidebar_img"> <span> Company</span></a>
							</li>
							<li>
								<a href="/calendar"><img src="~/assets/img/calendar.svg" alt="sidebar_img"> <span>Calendar</span></a>
							</li>
							<li>
								<a href="/leave"><img src="~/assets/img/leave.svg" alt="sidebar_img"> <span>Leave</span></a>
							</li>
							if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 4)
							{
								<li>
									<a href="/review"><img src="~/assets/img/review.svg" alt="sidebar_img"><span>Review</span></a>
								</li>
							}

							if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 3)
							{
								<li>
									<a href="/report"><img src="~/assets/img/report.svg" alt="sidebar_img"><span>Report</span></a>
								</li>
							}
							if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 2)
							{
								<li>
									<a href="/manage"><img src="~/assets/img/manage.svg" alt="sidebar_img"> <span>Manage</span></a>
								</li>
							}
							<li>
								<a href="/settings"><img src="~/assets/img/settings.svg" alt="sidebar_img"><span>Settings</span></a>
							</li>
							@if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 4)
							{
								<li>
									<a href="/profile"><img src="~/assets/img/profile.svg" alt="sidebar_img"> <span>Profile</span></a>
								</li>
							}
							@if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) >= 4)
							{
								<li>
									<a href="/profile-setting"><img src="~/assets/img/profile.svg" alt="sidebar_img"> <span>Profile</span></a>
								</li>
							}
						}
						else
						{
							<li>
								<a href="/profile-setting"><img src="~/assets/img/profile.svg" alt="sidebar_img"> <span>Profile</span></a>
							</li>
						}
					}
					

				</ul>
				<ul class="logout">
					<li>
						<a href="/dang-xuat"><img src="~/assets/img/logout.svg" alt="sidebar_img"><span>Log out</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="row">
			<div class="col-xl-12 col-sm-12 col-12 ">
				<div class="breadcrumb-path mb-4">
					<ul class="breadcrumb">
						<li class="breadcrumb-item">
							<a asp-action="Index">Home</a>
						</li>
						<li class="breadcrumb-item active"> Activities</li>
					</ul>
					<h3>Activities</h3>
				</div>
			</div>
			<div class="col-md-12">
				<div class="activity">
					<div class="activity-box">
						<ul class="activity-list">
							<li>
								<div class="activity-user">
									<a href="/profile" title="" data-toggle="tooltip" class="avatar" data-original-title="Lesley Grauer">
										<img alt="Lesley Grauer" src="~/assets/img/user.jpg" class="img-fluid rounded-circle">
									</a>
								</div>
								<div class="activity-content">
									<div class="timeline-content">
										<a href="/profile" class="name">Lesley Grauer</a> buy new coin <a href="#">BTC</a>
										<span class="time">4 mins ago</span>
									</div>
								</div>
								<a class="activity-delete" href="" title="Delete">×</a>
							</li>
							<li>
								<div class="activity-user">
									<a href="/profile" title="" data-toggle="tooltip" class="avatar" data-original-title="Lesley Grauer">
										<img alt="Lesley Grauer" src="~/assets/img/profiles/avatar-02.jpg" class="img-fluid rounded-circle">
									</a>
								</div>
								<div class="activity-content">
									<div class="timeline-content">
										<a href="Profile" class="name">Jeffery Lalor</a> added <a asp-action="Profile" class="name">Loren Gatlin</a> and <a asp-action="Profile" class="name">Tarah Shropshire</a> to project <a href="#">Crypto</a>
										<span class="time">6 mins ago</span>
									</div>
								</div>
								<a class="activity-delete" href="" title="Delete">×</a>
							</li>
							<li>
								<div class="activity-user">
									<a href="/profile" title="" data-toggle="tooltip" class="avatar" data-original-title="Lesley Grauer">
										<img alt="Lesley Grauer" src="~/assets/img/profiles/avatar-04.jpg" class="img-fluid rounded-circle">
									</a>
								</div>
								<div class="activity-content">
									<div class="timeline-content">
										<div class="timeline-content">
											<a href="/profile" class="name">Catherine Manseau</a> completed task <a href="#">Crypto coin sell with payment gateway</a>
											<span class="time">12 mins ago</span>
										</div>
									</div>
								</div>
								<a class="activity-delete" href="" title="Delete">×</a>
							</li>
							<li>
								<div class="activity-user">
									<a href="/profile" title="" data-toggle="tooltip" class="avatar" data-original-title="Lesley Grauer">
										<img alt="Lesley Grauer" src="~/assets/img/user.jpg" class="img-fluid rounded-circle">
									</a>
								</div>
								<div class="activity-content">
									<div class="timeline-content">
										<a href="/profile" class="name">Lesley Grauer</a> buy new coin <a href="#">BTC</a>
										<span class="time">4 mins ago</span>
									</div>
								</div>
								<a class="activity-delete" href="" title="Delete">×</a>
							</li>
							<li>
								<div class="activity-user">
									<a href="/profile" title="" data-toggle="tooltip" class="avatar" data-original-title="Lesley Grauer">
										<img alt="Lesley Grauer" src="~/assets/img/profiles/avatar-05.jpg" class="img-fluid rounded-circle">
									</a>
								</div>
								<div class="activity-content">
									<div class="timeline-content">
										<a href="/profile" class="name">Jeffery Lalor</a> added <a href="/profile" class="name">Loren Gatlin</a> and <a asp-action="Profile" class="name">Tarah Shropshire</a> to project <a href="#">Crypto</a>
										<span class="time">6 mins ago</span>
									</div>
								</div>
								<a class="activity-delete" href="" title="Delete">×</a>
							</li>
							<li>
								<div class="activity-user">
									<a href="/profile" title="" data-toggle="tooltip" class="avatar" data-original-title="Lesley Grauer">
										<img alt="Lesley Grauer" src="~/assets/img/profiles/avatar-07.jpg" class="img-fluid rounded-circle">
									</a>
								</div>
								<div class="activity-content">
									<div class="timeline-content">
										<div class="timeline-content">
											<a href="/profile" class="name">Catherine Manseau</a> completed task <a href="#">Crypto coin sell with payment gateway</a>
											<span class="time">12 mins ago</span>
										</div>
									</div>
								</div>
								<a class="activity-delete" href="" title="Delete">×</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>